{% extends "themes/base_visitor.html.twig" %}

{% block title %}Prestations{% endblock %}

{% block description %}Presentation du garage et des services{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des services</h1>
{% endblock %}