{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contact{% endblock %}

{% block description %}Conctactez Carrosserie Gos-Automobile pour vos réparations de carroserie, peinture et debosselage. Réponse rapide, devis gratuit, accueil professionnel{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Contact</h1>
{% endblock %}